body {
  font-family: Arial, sans-serif;
  background: #1a1a1a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://r2.fivemanage.com/3OJ3vdwgKeR1XVN7nKo46/asdasdasdasdasdad.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

#game-container {
  text-align: center;

}

#timer {
  font-size: 24px;
  margin-bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  grid-gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
  background-color: rgba(0,0,0,0.7);
  padding: 2vw;
  border-radius: 10px;
}

.cell {
  background: #151515;
  padding: 20px;
  font-size: 15px;
  cursor: pointer;
  user-select: none;
  transition: background 0.3s;
}

.cell:hover {
  outline: 1px solid #444;
}

.cell.used {
  background: grey;
  color: #222;
  pointer-events: none;
}

#message {
  margin-top: 15px;
  font-size: 18px;
}

#restart {
  background: #383838;
  color: rgb(97, 97, 97);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 5px;
}

#restart:hover {
  background: #ffffff;
}

#progress-container {
  width: 400px;
  height: 20px;
  background: #444;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px auto;
}

#progress-bar {
  height: 100%;
  width: 100%;
  background-color: limegreen;
  transition: width 1.0s linear;
}