body {
  font-family: Arial, sans-serif;
  background: #1a1a1a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#game-container {
  text-align: center;

}

#timer {
  font-size: 24px;
  margin-bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  grid-gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  border-radius: 10px;
}

.cell {
  background: #151515;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  transition: background 0.3s;
}

.cell:hover {
  outline: 1px solid #444;
}

.cell.used {
  background: grey;
  color: #222;
  pointer-events: none;
}

#message {
  margin-top: 15px;
  font-size: 18px;
}

#restart {
  background: #444;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 5px;
}

#restart:hover {
  background: #666;
}
